{% extends "base.html" %}

{% block content %}
    <h1> Carti Cautare</h1>
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <form action="" method="post">
            {% csrf_token %}
            {% for field in formf  %}
                {{ field.label_tag }}  {{ field }} 
                <input type="submit" class="btn btn-outline-primary" value="Cauta">
            {% endfor %}
        </form>
    </div>

    {% if books%}
        <h2>Search Results</h2>
    {% else %}
        <h2>No Results</h>
    {% endif %}

        <ul>
        {% for book in books %}
            <li>
            {{ book.name }}- {{ book.author }}
            </li>
        {% endfor %}
        </ul>

{% endblock %}